* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-left: 80px;
  background-color: #f0f4f5;
}

.navigation-section {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
}

.items-part {
  display: flex;
  flex-direction: row;
  margin-left: 650px;
}

.logo > img {
  margin-top: 5px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  margin-top: 25px;
  margin-left: 60px;
  font-weight: bold;
}

.main-section {
  display: flex;
  flex-direction: row;
  gap: 110px;
}

.item-1 {
  color: #20bc7e;
}

.left-section {
  margin-top: 50px;
}

.top-angle {
  margin-bottom: 20px;
}

.stethoscope-image > img {
  position: absolute;
  top:100px;
  left: 400px;
  z-index: -1;
  width: 600px;
  height: 600px;
}

.bold-text-description-part1 {
  font-size: 82px;
  font-weight: bold;
}

.bold-text-description-part2 {
  font-size: 82px;
  font-weight: bold;
}

.bold-text-description-part3 {
  font-size: 82px;
  font-weight: bold;
}

.light-text-description-part1 {
  margin-top: 38px;
  font-size: 22px;
  color: #7e8388;
}

.light-text-description-part2 {
  font-size: 22px;
  color: #7e8388;
  margin-bottom: 40px;
}

.bottom-angel {
  position: absolute;
  top: 600px;
  left: 700px;
}

.make-appointment-button {
  margin-top: 20px;
}
.make-appointment-button > button {
  background-color: #20bc7e;
  color: white;
  font-weight: bold;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  font-size: 24px;
  border-style: solid;
  border-color: #20bc7e;
}

.mouse {
  position: absolute;
  top: 630px;
  left: 740px;
}

.right-section {
}

.gren-box > img {
  z-index: 1;
  position: absolute;
  top: 230px;
  width: 500px;
  height: 500px;
  right: 20px;
}

.orange-box > img {
  z-index: 2;
  position: absolute;
  width: 430px;
  height: 430px;
  top: 260px;
  right: 5px;
}

.doctor-image > img {
  z-index: 3;
  position: absolute;
  top: 100px;
  right: 30px;
  width: 580;
  height: 646px;
}

.footer-section {
}
